
.wrapper
  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          .timeline__groupName #{@group.name}

        %ul.main-header__left-box__member-list
          
          %li.main-header__left-box__member-list__member
          Menber:
          - @group.users.each do |group_member|
            %div #{group_member.name}&nbsp;

      .main-header__edit-btn
        = link_to edit_group_path(@group[:id]), class: "current--group__editBtn " do
          Edit

    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'



